.register-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding: 20px;
  font-family: Arial, sans-serif;
  gap: 90px;  
}

.register-container form {
  max-width: 350px;
  width: 100%;
  margin-right: 20px;
}

.register-container form div {
  margin-bottom: 15px;
}

.register-container form label {
  font-weight: bold;
}

.register-container form input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.register-container form button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.register-container form button:hover {
  background-color: #0056b3;
}

.register-container div img {
  max-width: 300px;
  height: auto;
}

.register-link{
  font-size: 15px;
  margin-top: 10px;
  color: #2F80ED;
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding: 92px;
  font-family: Arial, sans-serif;
  gap: 93px;
}

.login-container form {
  max-width: 350px;
  width: 100%;
  margin-right: 20px;
}

.login-container form div {
  margin-bottom: 15px;
}

.login-container form label {
  font-weight: bold;
}

.login-container form input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-container form button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.login-container form button:hover {
  background-color: #0056b3;
}

.login-container div img {
  max-width: 350px;
  height: auto;
}

@media (max-width: 768px) {
  .login-container,
  .register-container {
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    text-align: center;
  }

  .login-container form,
  .register-container form {
    max-width: 100%;
    width: 100%;
  }

  .login-container div img,
  .register-container div img {
    max-width: 100%;
    height: auto;
  }
}

@media (max-width: 480px) {
  .login-container,
  .register-container {
    padding: 10px;
  }

  .login-container form input,
  .register-container form input {
    font-size: 14px;
    padding: 10px;
  }

  .login-container form button,
  .register-container form button {
    font-size: 14px;
    padding: 10px;
  }
}