/* @import url("https://fonts.googleapis.com/css?family=Fira+Sans");

html, body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Fira Sans", sans-serif;
  background-color: #E1E8EE;
} */

.form-structor {
  background-color: #222;
  border-radius: 15px;
  width: 350px;
  height: 550px;
  overflow: hidden;
  position: relative;
}

.form-structor::after {
  content: "";
  opacity: 0.8;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("https://images.unsplash.com/photo-1503602642458-232111445657?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bf884ad570b50659c5fa2dc2cfb20ecf&auto=format&fit=crop&w=1000&q=100");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 500px;
}

/* Signup styles */
.signup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
  transition: all 0.3s ease;
  z-index: 5;
}

.signup.slide-up {
  top: 5%;
  transform: translate(-50%, 0%);
}

.signup.slide-up .form-holder,
.signup.slide-up .submit-btn {
  opacity: 0;
  visibility: hidden;
}

.signup.slide-up .form-title {
  font-size: 1em;
  cursor: pointer;
}

.signup.slide-up .form-title span {
  opacity: 1;
  visibility: visible;
}

.signup .form-title {
  color: #fff;
  text-align: center;
  font-size: 1.7em;
}

.signup .form-title span {
  color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
}

.signup .form-holder {
  margin-top: 50px;
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.signup .form-holder .input {
  width: 100%;
  border: none;
  padding: 8px 15px;
  font-size: 12px;
  border-bottom: 1px solid #eee;
}

.signup .submit-btn {
  background-color: #D991A4;
  color: rgba(255, 255, 255, 0.7);
  border: none;
  border-radius: 15px;
  padding: 15px 45px;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
  margin: 15px auto;
}

.signup .submit-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Login styles */
.login {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  transition: all 0.3s ease;
  z-index: 5;
}

.login::before {
  content: "";
  position: absolute;
  left: 50%;
  top: -20px;
  transform: translateX(-50%);
  background-color: #fff;
  width: 200%;
  height: 250px;
  border-radius: 50%;
  z-index: 4;
}

.login .center {
  position: absolute;
  top: calc(50% - 10%);
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
  z-index: 5;
  transition: all 0.3s ease;
}

.login .form-title {
  color: #000;
  text-align: center;
  font-size: 1.7em;
}

.login .form-title span {
  color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
}

.login .form-holder {
  margin-top: 50px;
  background: #fff;
  border-radius: 15px;
  border: 1px solid #eee;
  overflow: hidden;
  transition: all 0.3s ease;
}

.login .form-holder .input {
  width: 100%;
  border: none;
  padding: 8px 15px;
  font-size: 12px;
  border-bottom: 1px solid #eee;
}

.login .submit-btn {
  background-color: #D991A4;
  color: rgba(255, 255, 255, 0.7);
  border: none;
  border-radius: 15px;
  padding: 15px 45px;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
  margin: 15px auto;
}

.login .submit-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.login.slide-up {
  top: 90%;
}

.login.slide-up .center {
  top: 10%;
  transform: translate(-50%, 0%);
}

.login.slide-up .form-holder,
.login.slide-up .submit-btn {
  opacity: 0;
  visibility: hidden;
}

.login.slide-up .form-title {
  font-size: 1em;
  cursor: pointer;
}

.login.slide-up .form-title span {
  opacity: 1;
  visibility: visible;
}
.password-container {
  position: relative;
}

.eye-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #aaa;
  font-size: 1.2em;
}

.eye-icon:hover {
  color: #333;
}
