.base-button {
  background-color: #0b0b3b;
  color: white;
  padding: 0.75rem 2rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.base-button:hover {
  background-color: #1c1c5a;
}

/* .contact-button {
  /* Additional or overriding styles for contact-button */
/* } */

/* .shop-button { */
  /* Additional or overriding styles for shop-button */
/* }  */
