.product-card {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* cursor: pointer; */
  width: 250px;
  height: auto;
}

.product-image {
  width: 100%;
  height: 180px;
  object-fit: contain;
  display: block;
  background-color: #f8f8f8; 
}

.hover-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.9);
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  opacity: 0;
  transition: opacity 0.3s ease;
  min-height: 100px;
}

.product-card:hover .hover-content {
  opacity: 1;
}

.details {
  flex-grow: 1;
}

.add-to-cart-btn,
.favorite-btn {
  background-color: #1b3059;
  border: none;
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
}

.favorite-btn {
  background-color: #f333b3;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 8px;
}

@media (max-width: 600px) {
  .product-card {
    width: 100%;
    height: 140px;
  }

  .product-image {
    height: 220px;
  }
}
@media (max-width: 768px) {
  .product-card {
    width: 100%;
    max-width: 220px;
    height: auto;
  }

  .product-image {
    width: 100%;
    height: auto;
  }

  .hover-content {
    position: relative;
    opacity: 1;
    padding: 10px;
  }

  .add-to-cart-btn,
  .favorite-btn {
    width: 100%;
    justify-content: center;
    padding: 8px;
  }
}

@media (max-width: 400px) {
  .product-card {
    max-width: 180px;
  }

  .product-image {
    height: 140px;
  }

  .hover-content {
    padding: 5px;
  }

  .add-to-cart-btn,
  .favorite-btn {
    font-size: 14px;
    padding: 4px;
  }
}

@media (min-width: 1920px) {
  .product-card {
    width: 280px;
    height: auto;
  }

  .product-image {
    height: 230px;
  }

  .hover-content {
    padding: 12px;
    min-height: 100px;
  }

  .add-to-cart-btn,
  .favorite-btn {
    font-size: 18px;
  }
}
